html,
body {
    background-color: #f1f1f1;
}

.logo {
    height: 38px;
}

.logo-sm {
    height: 20px;
}

table tr th:nth-child(1),
table tr th:nth-child(2),
table tr th:nth-child(3) {
    width: 30px;
}